<!-- Notifications -->
<div ng-controller="notificationControl" class="block pull-r-l">
    <div ng-show="settings.unread.length !== 0">
        <!--UNREAD NOTIFICATION AREA-->
        <div ng-init="loadNotification('unread')" class="block-header bg-gray-lighter">
            <ul class="block-options">
            </ul>
            <h3 class="block-title">UnRead Notification</h3>

        </div>
        <div class="block-content">
            <!-- Activity List -->
            <ul class="list list-activity">
                <li ng-repeat="notification in settings.unread">
                    <i title="mark as read" class="text-success">
                        <label class="css-input css-checkbox css-checkbox-sm css-checkbox-primary">
                            <input ng-change="notification.toggleStatus()" ng-model="notification.isChecked" ng-checked="notification.data.status === 'read'" type="checkbox" ><span></span>
                        </label>
                    </i>
                    <div class="font-w600">{{notification.data.title}}</div>
                    <div style="white-space: pre;">{{notification.data.description}}</div>
                    <div style="text-align: right;"><small class="text-muted">{{notification.data.added | elapsed}}</small></div>
                </li>
            </ul>
            <!-- END Activity List -->
        </div>
    </div><!--END UNREAD NOTIF-->

    <div >
        <!--RECENT READ ACTIVITY-->
        <div ng-show="settings.read.length !== 0" ng-init="loadNotification('read')"  class="block-header bg-gray-lighter">
            <ul class="block-options">
            </ul>
            <h3 class="block-title">RECENT ACTIVITY</h3>
        </div>
        <div class="block-content">
            <!-- Activity List -->
            <ul class="list list-activity">
                <li style="padding-left: 0;" ng-repeat="notification in settings.read">
                    <!--<i title="mark as read" class="text-success">
                        <label class="css-input css-checkbox css-checkbox-sm css-checkbox-primary">
                            <input ng-change="notification.toggleStatus()" ng-model="notification.isChecked" ng-checked="notification.data.status === 'read'" type="checkbox" ><span></span>
                        </label>
                    </i>-->
                    <div class="font-w600">{{notification.data.title}}</div>
                    <div style="white-space: pre;">{{notification.data.description}}</div>
                    <div style="text-align: right;"><small class="text-muted">{{notification.data.added | elapsed}}</small></div>
                </li>
            </ul>
            <!-- END Activity List -->
        </div>
    </div>

</div>
<!-- END Notifications -->
